extends layout

block content
	.container
		h1 Applicants:
		ul#applications.list-unstyled
			for applicant in applicants
				li
					h3: a(href='/#{applicant._id}' class='btn btn-warning btn-lg')= applicant.name
					h6: em Years of Experience: #{applicant.years}
					h4: strong About #{applicant.name}
					p= applicant.bio
					h4 Skills:
					p
						ul
							for skill in applicant.skills
								li= skill
					h4 Why #{applicant.name} wants to work here:
					p= applicant.why
					a(href='/delete/#{applicant._id}') Delete this Applicant
					p
					p